In [1]:
import numpy as np 
import pandas as pd

In [31]:
data2 = [5, 8, 12, 15, 18, 22, 25, 28, 30]
data2

[5, 8, 12, 15, 18, 22, 25, 28, 30]

using numpy

In [8]:
#mean
mean_value = np.mean(data2)
print(f"Mean: {mean_value :.3f}")

Mean: 18.111

In [9]:
#median
median_value = np.median(data2)
print(f"Median: {median_value}")

Median: 18.0

In [11]:
#mode
#convert to a list using pandas

mode_value = pd.Series(data2).mode()
print(f"Mode: {mode_value.tolist() if not mode_value.empty else 'No mode'}")

Mode: [5, 8, 12, 15, 18, 22, 25, 28, 30]

In [12]:
#range
# difference between the minimum and maximum number in the dataset

range_value = np.max(data2) - np.min(data2)
print(f"Range: {range_value}")

Range: 25

In [13]:
#variance
# The average of the squared differences between each data pount and and the meanIt gives a sense of how spread out the data points are.

variance_value = np.var(data2, ddof=1)
print(f"Variance: {variance_value}")

Variance: 77.86111111111111

In [14]:
#standard deviation
std_dev = np.std(data2, ddof=1)
print(f"Standard Deviation: {std_dev}")

Standard Deviation: 8.823894327966032

In [15]:
#Interquartile range (IQR)
q1 = np.percentile(data2, 25)
q3 = np.percentile(data2, 75)

iqr = q3 - q1
print(f"Q1: {q1}, Q3: {q3}, IQR: {iqr}")

Q1: 12.0, Q3: 25.0, IQR: 13.0

MONTHLY EXPENSES

In [21]:
expenses=[220,185,210,250,240,195,180,230,200,260,215,205]

data = pd.Series(expenses)

data.head()

0    220
1    185
2    210
3    250
4    240
dtype: int64

In [27]:
#mean
data.mean()
#print(f"Mean: {data()}")

np.float64(215.83333333333334)

In [37]:
data.mode()

0     180
1     185
2     195
3     200
4     205
5     210
6     215
7     220
8     230
9     240
10    250
11    260
dtype: int64

In [49]:
#data2.mode()

if (len(expenses) == len(data.mode())):
    print("no mode")
else:
    print(data.mode()[0])

no mode

In [54]:
#range
data.max() - data.min()

np.int64(80)

In [56]:
#standard deviation 
f"{data.std()}" #this is how to avoid the np.float thingy in print

'25.2112288594995'

In [57]:
#variance
data.var()

np.float64(635.6060606060605)

In [60]:
#iqr

lower_quatile = data.quantile(0.25)
upper_quatile = data.quantile(0.75)
IQR = upper_quatile - lower_quatile

print(f"Q1: {lower_quatile} \n Q3: {upper_quatile} \n IQR: {IQR}")
# qa = data.percentile(25)
# qb = data.percentile(75)
# iqra = qb - q1



#Interquartile range (IQR)
# q1 = np.percentile(data2, 25)
# q3 = np.percentile(data2, 75)

# iqr = q3 - q1
# print(f"Q1: {q1}, Q3: {q3}, IQR: {iqr}")

Q1: 198.75
 Q3: 232.5
 IQR: 33.75

In [33]:
data.median()
data2 = pd.Series(data2)
data2.median()

np.float64(18.0)

In [34]:
np.median(expenses)

np.float64(212.5)

practice

In [42]:
test = [30,2,2,2,4,5,6]

In [43]:
#dataframe
df = pd.Series(test)

In [47]:
df.describe()

count     7.000000
mean      7.285714
std      10.144198
min       2.000000
25%       2.000000
50%       4.000000
75%       5.500000
max      30.000000
dtype: float64

In [48]:
df.mode()

0    2
dtype: int64